html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  background: url("/images/bg.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -webkit-touch-callout: none;
/* iOS Safari */
  -webkit-user-select: none;
/* Chrome/Safari/Opera */
  -khtml-user-select: none;
/* Konqueror */
  -moz-user-select: none;
/* Firefox */
  -ms-user-select: none;
/* IE/Edge */
  user-select: none;
/* non-prefixed version, currently
                                  not supported by any browser */
  cursor: default;
}
a {
  color: #000;
  text-decoration: none;
  transition: all 0.4s ease;
}
.bottomstrip {
  text-align: center;
  transition: all 0.4s ease;
}
.bottomstrip-open {
  position: absolute;
  width: 80%;
  height: calc(100% - 20px);
  margin-left: 10%;
  padding-top: 20px;
  overflow: hidden;
}
.bottomstrip-open .interior-resize {
  height: calc(100% - 16vw);
}
.bottomstrip-open .bottomstrip-wrapper {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.bottomstrip-open .bottomstrip-wrapper .bottomstrip {
  bottom: 0px;
  height: 14vw;
}
.bottomstrip-open .bottomstrip-toggle {
  top: 0px;
}
.bottomstrip-closed {
  position: absolute;
  width: 80%;
  margin-left: 10%;
  padding-top: 20px;
  height: calc(100% - 20px);
  overflow: hidden;
}
.bottomstrip-closed .interior-resize {
  height: calc(100% - 2vw);
  margin-bottom: 15vw;
}
.bottomstrip-closed .bottomstrip-wrapper .bottomstrip {
  height: 0;
  top: 15vw;
}
.bottomstrip-closed .bottomstrip-toggle {
  top: -34px;
}
.bottomstrip-toggle {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #e6e6e6;
  border: 2px solid rgba(0,0,0,0.25);
  transition: all 0.4s ease;
  top: 0px;
  left: 0px;
}
.bottomstrip-toggle:after {
  content: '';
  width: 0px;
  height: 0px;
  top: 15px;
  left: 15px;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  position: absolute;
  transition: all 0.4s ease;
}
.bottomstrip-toggle:hover:after {
  width: 30px;
  height: 30px;
  top: 0px;
  left: 0px;
}
.bottomstrip-wrapper {
  bottom: 0px;
  position: absolute;
  width: 100%;
}
.category {
  display: inline-block;
  cursor: default;
  padding: 20px;
  transition: all 0.4s ease;
  border-radius: 50%;
}
.category-wrapper-invisible {
  visibility: none;
  z-index: -1;
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 15%;
  transition: all 0.4s ease;
  font-size: 1.5em;
}
.category-wrapper-invisible .text-wrapper {
  width: 0;
}
.category-wrapper-visible {
  z-index: -10;
  opacity: 1;
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 20%;
  background: rgba(250,250,250,0.15);
  transition: all 0.4s ease;
  font-size: 1.5em;
}
.category-wrapper-visible .text-wrapper {
  width: 25%;
}
.category-wrapper-visible .text-wrapper:nth-child(1) {
  transition: 1.5s ease;
}
.category-wrapper-visible .text-wrapper:nth-child(4) {
  transition: 1.5s ease;
}
.category-wrapper-visible .category {
  transition: 1s ease;
}
.category-wrapper-visible .category-inactive {
  opacity: 0;
  display: inline-block;
  transition: all 0.4s ease;
  cursor: default;
  padding: 20px;
  border-radius: 50%;
}
.category-wrapper-visible .category-inactive a {
  transition: all 0.4s ease;
  color: rgba(0,0,0,0.1);
}
.category-wrapper-visible .category-active {
  display: inline-block;
  opacity: 1;
  transition: all 0.4s ease;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,0.15);
  border-radius: 50%;
}
.category-wrapper-visible .category-active a {
  cursor: default;
}
.circle-icon {
  position: relative;
  width: 10vw;
  height: 10vw;
  display: inline-block;
  border: 2px solid #323232;
  border-radius: 50%;
  text-align: center;
  margin: 2vw;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #000;
  transition: all 0.4s ease;
  font-size: 1.5em;
  overflow: hidden;
}
.circle-icon:hover {
  color: #000;
}
.circle-icon:hover .interior {
  background: rgba(255,255,255,0.5);
  color: #000;
  transition: all 0.4s ease;
}
.circle-icon .interior {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  color: rgba(0,0,0,0);
  transition: all 0.4s ease;
}
.char-strip {
  transition: all 0.4s ease;
}
.interior-resize {
  position: absolute;
  width: 100%;
  overflow-y: scroll;
  transition: all 0.4s ease;
}
.exit {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #e6e6e6;
  border: 2px solid rgba(0,0,0,0.25);
  transition: all 0.4s ease;
  right: -15px;
  top: -15px;
}
.exit:after {
  content: '';
  width: 0px;
  height: 0px;
  top: 25px;
  left: 25px;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  position: absolute;
  transition: all 0.4s ease;
}
.exit:hover:after {
  width: 50px;
  height: 50px;
  top: 0px;
  left: 0px;
}
.findMe {
  display: inline-block;
  margin: 15px;
  padding: 10px;
  width: calc(20% - 50px);
  border-radius: 50%;
  text-align: center;
  transition: all 0.4s ease;
}
.findMe:hover {
  background-color: rgba(255,255,255,0.5);
}
.findMes {
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  bottom: 0px;
}
#form-email {
  position: absolute;
  height: 15%;
  width: 100%;
  top: 15%;
}
#form-email input {
  position: relative;
  width: 30%;
  padding: 10px;
}
#form-name {
  position: absolute;
  height: 25%;
  width: 100%;
}
#form-name input {
  position: relative;
  width: 30%;
  padding: 10px;
}
#form-message {
  position: absolute;
  height: 55%;
  width: 100%;
  top: 30%;
}
#form-message textarea {
  width: 80%;
  height: 80%;
  padding: 10px;
  font-family: 'PT Sans Narrow', sans-serif;
}
#form-response {
  float: left;
  margin-left: 30px;
  height: 50%;
  padding: 1px 6px;
}
#form-submit {
  position: absolute;
  width: 100%;
  height: 15%;
  top: 85%;
}
#form-submit input[type=submit] {
  bottom: 0;
  width: 10%;
  height: 50%;
  float: left;
}
#form-wrapper {
  position: absolute;
  width: 80%;
  margin-left: 10%;
  height: 100%;
}
#form-wrapper input {
  font-family: 'PT Sans Narrow', sans-serif;
}
.fullscreen {
  position: relative;
  width: 90%;
  height: 90%;
  left: 5%;
  background: rgba(255,255,255,0.5);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.fullscreen-interior {
  height: 80%;
  width: 80%;
  left: 10%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow-y: auto;
  overflow-x: hidden;
}
.important {
  font-weight: bold;
}
.library-post-wrapper {
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
  text-align: center;
  padding: 10px;
}
.library-post-wrapper .interior {
  display: inline;
  transition: all 0.4s ease;
}
.library-post-wrapper .interior:hover {
  font-size: 1.5em;
}
.name {
  width: 100%;
  font-size: 2em;
  text-align: center;
  padding-top: 10px;
}
.padded {
  padding-left: 40px;
  padding-right: 20px;
  margin-left: 5%;
  width: calc(90% - 60px);
  transition: all 0.4s ease;
}
.padded-sidebar {
  padding-left: 40px;
  padding-right: 20px;
  margin-left: 10%;
  width: calc(90% - 60px);
  transition: all 0.4s ease;
}
.posts-link {
  position: relative;
  width: 10vw;
  height: 10vw;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #323232;
  text-align: center;
  margin: 2vw;
  color: #000;
  transition: all 0.4s ease;
  font-size: 1.5em;
  overflow: hidden;
}
.posts-link .interior {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  color: #000;
  transition: all 0.4s ease;
}
.post-text {
  position: absolute;
  width: 200%;
  left: -50%;
  height: auto;
  top: -10%;
  transition: 6s ease;
  font-size: 0.75em;
}
.post-wrapper {
  position: relative;
  display: inline-block;
  border: 2px solid #323232;
  width: 80%;
  height: 10vw;
  text-align: center;
  background: #fff;
  margin-top: 10%;
  overflow: hidden;
}
.post-wrapper:hover .post-text {
  top: -200%;
}
.sidebar-closed {
  position: absolute;
  height: 100%;
  left: -10%;
  width: 10%;
  transition: all 0.4s ease;
}
.sidebar-closed .sidebarToggle {
  top: 1em;
}
.sidebar-closed .circle-icon {
  border-radius: 0;
  top: 1em;
  width: 80%;
  margin: auto;
}
.sidebar-open {
  position: absolute;
  width: 10%;
  left: 0;
  height: 100%;
  transition: all 0.4s ease;
}
.sidebar-open .sidebarToggle {
  top: 1em;
}
.sidebar-open .circle-icon {
  top: 1em;
  border-radius: 0;
  width: 80%;
  margin: auto;
}
.sidebar-open .circle-icon:hover {
  color: #000;
}
.sidebar-open .circle-icon:hover .interior {
  background: rgba(255,255,255,0.5);
  color: #000;
  transition: all 0.4s ease;
}
.sidebar-open .circle-icon .interior {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  color: rgba(0,0,0,0);
  transition: all 0.4s ease;
}
.sidebarToggle {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #e6e6e6;
  border: 2px solid rgba(0,0,0,0.25);
  transition: all 0.4s ease;
  right: -34px;
}
.sidebarToggle:after {
  content: '';
  width: 0px;
  height: 0px;
  top: 15px;
  left: 15px;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  position: absolute;
  transition: all 0.4s ease;
}
.sidebarToggle:hover:after {
  width: 30px;
  height: 30px;
  top: 0px;
  left: 0px;
}
.text-header {
  font-size: 1.5em;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.text-wrapper {
  width: 25%;
  text-align: center;
  display: inline-block;
  transition: all 0.4s ease;
}
.thing4Active {
  color: #000;
  transition: all 0.4s ease;
  position: absolute;
}
.thing4Inactive {
  color: rgba(0,0,0,0);
  transition: all 0.4s ease;
  position: absolute;
}
.title {
  display: inline;
  transition: all 0.4s ease;
}
.title-wrapper-closed {
  z-index: 10;
  font-size: 2em;
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 15%;
  padding-bottom: 20%;
  transition: all 0.4s ease;
}
.title-wrapper-open {
  font-size: 2em;
  padding-top: 20px;
  position: absolute;
  text-align: center;
  width: 100%;
  padding-bottom: 0;
  transition: all 0.4s ease;
}
.title-wrapper-open .title {
  letter-spacing: 4vw;
  transition: 1s ease;
}
