body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  background: url("/images/bg.jpg") no-repeat center center fixed;
}
a {
  color: #000;
  text-decoration: none;
  transition: all 0.4s ease;
}
.title-wrapper-closed {
  font-size: 2em;
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 15%;
  transition: all 0.4s ease;
}
.title-wrapper-closed .title {
  display: inline;
  transition: all 0.4s ease;
}
.title-wrapper-open {
  font-size: 2em;
  padding-top: 20px;
  position: absolute;
  text-align: center;
  width: 100%;
  transition: all 0.4s ease;
}
.title-wrapper-open .title {
  display: inline;
  letter-spacing: 4vw;
  transition: 1s ease;
}
.category {
  display: inline-block;
  cursor: default;
  padding: 20px;
  transition: all 0.4s ease;
  border-radius: 50%;
}
.text-wrapper {
  width: 25%;
  text-align: center;
  display: inline-block;
  transition: all 0.4s ease;
}
.category-wrapper-visible {
  opacity: 1;
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 20%;
  background: rgba(250,250,250,0.15);
  transition: all 0.4s ease;
  font-size: 1.5em;
}
.category-wrapper-visible .text-wrapper {
  width: 25%;
}
.category-wrapper-visible .text-wrapper:nth-child(1) {
  transition: 1.5s ease;
}
.category-wrapper-visible .text-wrapper:nth-child(4) {
  transition: 1.5s ease;
}
.category-wrapper-visible .category {
  opacity: 1;
  transition: 1s ease;
}
.category-wrapper-visible .category-inactive {
  display: inline-block;
  transition: all 0.4s ease;
  cursor: default;
  padding: 20px;
  border-radius: 50%;
}
.category-wrapper-visible .category-inactive a {
  transition: all 0.4s ease;
  color: rgba(0,0,0,0.1);
}
.category-wrapper-visible .category-active {
  display: inline-block;
  transition: all 0.4s ease;
  cursor: default;
  padding: 20px;
  background: rgba(0,0,0,0.15);
  border-radius: 50%;
}
.category-wrapper-visible .category-active a {
  cursor: default;
}
.category-wrapper-invisible {
  z-index: -1;
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 15%;
  transition: all 0.4s ease;
  font-size: 1.5em;
}
.category-wrapper-invisible .text-wrapper {
  width: 0;
}
.category-wrapper-invisible .category {
  opacity: 1;
  transition: all 0.4s ease;
}
.fullscreen {
  position: relative;
  width: 90%;
  height: 90%;
  left: 5%;
  background: rgba(255,255,255,0.5);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.exit {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: -15px;
  top: -15px;
  background: #e6e6e6;
  border: 2px solid rgba(0,0,0,0.25);
}
.exit:after {
  content: '';
  width: 0px;
  height: 0px;
  top: 25px;
  left: 25px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  transition: all 0.4s ease;
}
.exit:hover:after {
  width: 50px;
  height: 50px;
  top: 0px;
  left: 0px;
}
.fullscreen-interior {
  height: 80%;
  width: 80%;
  left: 10%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow-y: auto;
  overflow-x: hidden;
}
.important {
  font-weight: bold;
}
.text-header {
  font-size: 1.5em;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.name {
  width: 100%;
  font-size: 2em;
  text-align: center;
  padding-top: 10px;
}
.char-wrapper-open {
  position: absolute;
  width: 80%;
  height: calc(100% - 20px);
  margin-left: 10%;
  padding-top: 20px;
  overflow: hidden;
}
.char-wrapper-open .interior-resize {
  width: 100%;
  height: calc(100% - 16vw);
  overflow-y: scroll;
  transition: all 0.4s ease;
}
.char-wrapper-open .char-strip-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0px;
  background: rgba(0,0,0,0.5);
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.char-wrapper-open .char-strip-wrapper .char-strip {
  bottom: 0px;
  height: 14vw;
  transition: all 0.4s ease;
}
.char-wrapper-closed {
  position: absolute;
  width: 80%;
  margin-left: 10%;
  padding-top: 20px;
  height: calc(100% - 20px);
  overflow: hidden;
}
.char-wrapper-closed .interior-resize {
  position: absolute;
  width: 100%;
  height: calc(100% - 2vw);
  overflow-y: scroll;
  margin-bottom: 15vw;
  transition: all 0.4s ease;
}
.char-wrapper-closed .char-strip-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0px;
  background: rgba(0,0,0,0.75);
}
.char-wrapper-closed .char-strip-wrapper .char-strip {
  height: 0;
  top: 15vw;
  transition: all 0.4s ease;
}
.char-wrapper-toggle {
  width: 100%;
  height: 10px;
  background: rgba(0,0,0,0.5);
  transition: all 0.4s ease;
}
.char-wrapper-toggle:hover {
  height: 20px;
}
.char-icon {
  width: 10vw;
  height: 10vw;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid rgba(0,0,0,0.5);
  text-align: center;
  margin: 2vw;
}
.char-icon .interior {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
}
